      .header {
        background: linear-gradient(135deg, #ff7e5f, #feb47b);
        color: #fff;
        padding: 20px;
        text-align: left;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 8px #e21616 dotted;
      }
